<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.idleProject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_idea"
        android:label="idleProject"
        android:roundIcon="@mipmap/ic_launcher_idea_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Nav_item">

        <activity
            android:name="com.example.idleProject.SplashActivity"
            android:theme="@style/Theme.Nav_item.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.idleProject.MainActivity"
            android:theme="@style/Theme.Nav_item.NoActionBar"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable">
        </activity>

    </application>

</manifest>